
        body {
            margin: 0;
            font-family: Helvetica, sans-serif;
        }
        
        #header{
            width: 100%;
            background-color: #EDEDED;
            height: 42px;
           
        }
        #logo{
            font-size: 120%;
            font-weight: bold;
            float: left;
            padding-top: 8px;
            padding-left: 5px;
            
            
        }
        #navigation{
            width: 208px;
            margin: 0 auto;
            padding-top: 5px;
           
        }
        .toggleButton{
            float: left;
            border: 1px solid lightslategray;
            padding: 5px;
            padding-right: 10px;
            padding-left: 10px;            
            border-right: none;
            font-size: 90%;
        }
        #html{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
           
        }
         #output{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid lightslategray;       
        }
        .highlight{
            background-color: gray;
        }
        .active{
             background-color: aliceblue;
        }
        textarea{
            border-top: none;
            resize: none;
            border-color: grey;
        }
        .panel{
             width: 50%;
             float: left;
             border-left: none;
        }
        .hidden{
            display: none;
        }
        iframe{
            border-right: 1px solid lightgrey;
        }
    
      